{% extends 'base.html.twig' %}

{% block title %}Les chiffres du COVID-19 en France
{% endblock %}

{% block body %}
	<div class="album py-5" id="france">
		<div class="container">
            <h1 class="mb-5">Les chiffres du COVID-19 en France</h1>

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Nombre de cas confirmés</h5>
						<p class="card-text">{{ data.v1	}}</p>
					</div>
				</div>

						

                <div class="col">
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title">Nombre de Réa</h5>
							<p class="card-text">Nombre de personnes actuellement en réanimation</p>
						</div>
                        <h3 class="card-footer bg-warning text-dark mx-2 rounded-pill">{{data.vl.0.history }}</h3>
					</div>
				</div>
	</div>

	<div class="album py-5" id="department">
		<div class="container">
            <h1 class="mb-5">Les chiffres du COVID-19 par département</h1>

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			</div>
		</div>
	</div>
	
{% endblock %}
